.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-top: 100px;
}
.card-img {
  width: 250px;
  height: 300px;
}
nav {
  background-color: #fff;
}
.card {
  background-color: #fff;
  width: 250px;
  height: 500px;
}
.card-price {
  width: 200px;
  margin: 0 auto;
}
.card-price p {
  margin-bottom: 20px;
}
.btn-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.addProduct {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 2% 0% 0% 40%;
}
/* sideBar */
